.lighter-background {
	-fx-background-color: #666;
	-fx-background: #666;
}

.light-background {
	-fx-background-color: #444;
	-fx-background: #444;
}

.dark-background {
	-fx-background: #222;
}

#todoCheckComboBoxPane .list-cell{
	-fx-border-color: #fff;
}

.list-cell {
	-fx-background-color: #444;
	-fx-background: #444;
}

.list-cell:even {
	-fx-background-color: #333;
	-fx-background: #333;
}

.list-cell:filled:selected {
	-fx-background-color: #888;
	-fx-background: #888;
}

#exportProjectButton{
	-fx-background-image: url('../export.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 50% auto;
}

#archiveProjectButton{
	-fx-background-image: url('../archive.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 90% auto;
}

#importPhotoButton{
	-fx-background-image: url('../addPhoto.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 90% auto;
}

.pauseProjectButton{
	-fx-background-image: url('../pause.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 50% auto;
}

.playProjectButton{
	-fx-background-image: url('../play.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 50% auto;
}

.workflowButtonRed {
	-fx-background-image: url('../red_NA.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 70% auto;
	-fx-background-radius: 7em;
}

.workflowButtonGreen {
	-fx-background-image: url('../check_green.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 80% auto;
	-fx-background-radius: 7em;
}

.workflowButton {
	-fx-background-image: none;
	-fx-background-radius: 7em;
}

.separator {
	-fx-border-color: #fff;
	-fx-border-style: solid;
	-fx-border-width: 2px;
}

/* Photo Controller */

.discarded-photo {
	-fx-border-color: red;
	-fx-border-style: solid;
	-fx-border-width: 2px;
	-fx-opacity: .2;
}

.flagged-photo {
	-fx-border-color: green;
	-fx-border-style: solid;
	-fx-border-width: 2px;
}

.selected-photo {
	-fx-border-color: #fff;
	-fx-border-style: solid;
	-fx-background-insets: 0 0 -1 0, 0, 1, 2;
	-fx-border-width: 2px;
}

#flagButton {
	-fx-background-image: url('../thumb_up.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 35% auto;
}

#discardButton {
	-fx-background-image: url('../thumb_down.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 35% auto;
}

/*#editButton {
	-fx-background-image: url('../edit.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 50% auto;
}*/
