/* Photo View */

#flagButton {
	-fx-background-image: url('../thumb_up.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 50% auto;
}

#discardButton {
	-fx-background-image: url('../thumb_down.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 50% auto;
}

#editButton {
	-fx-background-image: url('../edit.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 65% auto;
}

#deleteButton {
	-fx-background-image: url('../delete.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 45% auto;
}
