.lighter-background {
	-fx-background-color: #666;
	-fx-background: #666;
}

.light-background {
	-fx-background-color: #444;
	-fx-background: #444;
}

.dark-background {
	-fx-background: #222;
}

.list-cell {
	-fx-background-color: #444;
	-fx-background: #444;
}

.list-cell:even {
	-fx-background-color: #333;
	-fx-background: #333;
}

.list-cell:filled:selected {
	-fx-background-color: #888;
	-fx-background: #888;
}

.button {
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-border-width: 1;
	
	-fx-border-color: #eee;
	-fx-background-color: #ddd;
	
	-fx-text-fill: black;
	-fx-background-insets: 0 0 0 0, 0, 1, 2;
}