
.light-background {
	-fx-background-color: #444;
	-fx-background: #444;
}

.dark-background {
	-fx-background: #222;
}


.workflowButton {
    -fx-background-radius: 7em;
}

.list-cell {
	-fx-background-color: #444;
	-fx-background: #444;
}

.list-cell:even {
	-fx-background-color: #333;
	-fx-background: #333;
}

.list-cell:filled:selected {
	-fx-background-color: #888;
	-fx-background: #888;
	
	}
#exportProjectButton{
	-fx-background-image: url('../export.png');
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-background-size: 50% auto;
}

#archiveProjectButton{
	-fx-background-image: url('../archive.png');
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-background-size: 90% auto;
}

#importPhotoButton{
	-fx-background-image: url('../addPhoto.png');
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-background-size: 90% auto;
}

.separator {
	-fx-border-color: #fff;
	-fx-border-style: solid;
	-fx-border-width: 2px;
}